<!DOCTYPE html>
<html>

<head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/jasmine/1.3.1/jasmine.css" rel="stylesheet"/>

    <!-- angular itself -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.js"></script>
   

    <!-- jasmine -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasmine/1.3.1/jasmine.js"></script>
    <!-- jasmine's html reporting code and css -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasmine/1.3.1/jasmine-html.js"></script>
    <!-- angular's testing helpers -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-mocks.js"></script>
    
    <!-- your angular app code -->
    <script src="Controller/app.js"></script>

</head>
<body>
<h1>Hello</h1>
<!-- bootstrap jasmine! -->
    <div ng-app="app" ng-controller="PasswordController">
        <input type="text" ng-model="password" />
        <button ng-click="grade()">Grade</button>
        {{strength}}


    </div>
</body>
</html>
